src/test/resources/wsdl/soap11MTOM.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.test.bansheeproject.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.test.bansheeproject.com/" name="SOAP11MTOMServiceService">
<wsp:Policy wsu:Id="SOAP11MTOMServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://services.test.bansheeproject.com/" schemaLocation="XSD/test.xsd" />
</xsd:schema>
</types>
<message name="stringOperation">
<part name="parameters" element="tns:stringOperation" />
</message>
<message name="stringOperationResponse">
<part name="parameters" element="tns:stringOperationResponse" />
</message>
<message name="oneWayOperation">
<part name="parameters" element="tns:oneWayOperation" />
</message>
<message name="oneWayOperationResponse">
<part name="parameters" element="tns:oneWayOperationResponse" />
</message>
<message name="complexOperation">
<part name="parameters" element="tns:complexOperation" />
</message>
<message name="complexOperationResponse">
<part name="parameters" element="tns:complexOperationResponse" />
</message>
<message name="throwBusinessException">
<part name="parameters" element="tns:throwBusinessException" />
</message>
<message name="throwBusinessExceptionResponse">
<part name="parameters" element="tns:throwBusinessExceptionResponse" />
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException" />
</message>
<message name="hangOperation">
<part name="parameters" element="tns:hangOperation" />
</message>
<message name="hangOperationResponse">
<part name="parameters" element="tns:hangOperationResponse" />
</message>
<message name="hangThenThrowException">
<part name="parameters" element="tns:hangThenThrowException" />
</message>
<message name="hangThenThrowExceptionResponse">
<part name="parameters" element="tns:hangThenThrowExceptionResponse" />
</message>
<message name="handleHeaders">
<part name="parameters" element="tns:handleHeaders" />
<part name="arg0" element="tns:arg0" />
</message>
<message name="handleHeadersResponse">
<part name="result" element="tns:handleHeadersResponse" />
<part name="arg0" element="tns:arg0" />
</message>
<message name="throwRandomException">
<part name="parameters" element="tns:throwRandomException" />
</message>
<message name="throwRandomExceptionResponse">
<part name="parameters" element="tns:throwRandomExceptionResponse" />
</message>
<message name="AnotherBusinessException">
<part name="fault" element="tns:AnotherBusinessException" />
</message>
<portType name="SOAP11MTOMService">
<operation name="stringOperation">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/stringOperationRequest" message="tns:stringOperation" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/stringOperationResponse" message="tns:stringOperationResponse" />
</operation>
<operation name="oneWayOperation">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/oneWayOperationRequest" message="tns:oneWayOperation" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/oneWayOperationResponse" message="tns:oneWayOperationResponse" />
</operation>
<operation name="complexOperation">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/complexOperationRequest" message="tns:complexOperation" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/complexOperationResponse" message="tns:complexOperationResponse" />
</operation>
<operation name="throwBusinessException">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwBusinessExceptionRequest" message="tns:throwBusinessException" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwBusinessExceptionResponse" message="tns:throwBusinessExceptionResponse" />
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwBusinessException/Fault/BusinessException" />
</operation>
<operation name="hangOperation">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/hangOperationRequest" message="tns:hangOperation" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/hangOperationResponse" message="tns:hangOperationResponse" />
</operation>
<operation name="hangThenThrowException">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/hangThenThrowExceptionRequest" message="tns:hangThenThrowException" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/hangThenThrowExceptionResponse" message="tns:hangThenThrowExceptionResponse" />
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/hangThenThrowException/Fault/BusinessException" />
</operation>
<operation name="handleHeaders" parameterOrder="parameters arg0">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/handleHeadersRequest" message="tns:handleHeaders" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/handleHeadersResponse" message="tns:handleHeadersResponse" />
</operation>
<operation name="throwRandomException">
<input wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwRandomExceptionRequest" message="tns:throwRandomException" />
<output wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwRandomExceptionResponse" message="tns:throwRandomExceptionResponse" />
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwRandomException/Fault/BusinessException" />
<fault message="tns:AnotherBusinessException" name="AnotherBusinessException" wsam:Action="http://services.test.bansheeproject.com/SOAP11MTOMService/throwRandomException/Fault/AnotherBusinessException" />
</operation>
</portType>
<binding name="SOAP11MTOMServicePortBinding" type="tns:SOAP11MTOMService">
<wsp:PolicyReference URI="#SOAP11MTOMServicePortBinding_MTOM_Policy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="stringOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="oneWayOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="complexOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="throwBusinessException">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal" />
</fault>
</operation>
<operation name="hangOperation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hangThenThrowException">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal" />
</fault>
</operation>
<operation name="handleHeaders">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:handleHeaders" part="arg0" use="literal" />
</input>
<output>
<soap:body use="literal" parts="result" />
<soap:header message="tns:handleHeadersResponse" part="arg0" use="literal" />
</output>
</operation>
<operation name="throwRandomException">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal" />
</fault>
<fault name="AnotherBusinessException">
<soap:fault name="AnotherBusinessException" use="literal" />
</fault>
</operation>
</binding>
<service name="SOAP11MTOMServiceService">
<port name="SOAP11MTOMServicePort" binding="tns:SOAP11MTOMServicePortBinding">
<soap:address location="http://localhost:9080/soap11MTOM" />
</port>
</service>
</definitions>